@page "/fetchdata"
@using Blazor_OSRS_Helper.Shared.Models
@using Newtonsoft.Json;
@inject HttpClient Http

<h1>Runescape Items</h1>

@if (rsItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>isMember</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in rsItems)
            {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.description</td>
                <td>@item.members</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<RSItem> rsItems;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync("Data/Item");
        string responseBody = await response.Content.ReadAsStringAsync();
        rsItems = JsonConvert.DeserializeObject<List<RSItem>>(responseBody);
    }
}
